stages:
  - lint
  - test

default:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm
  before_script:
    - python --version
    - uv --version

variables:
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"

cache:
  paths:
    - .cache/uv

black:
  stage: lint
  script:
    - uv sync --frozen
    - uv run black --check .

isort:
  stage: lint
  script:
    - uv sync --frozen
    - uv run isort --check-only .

nbqa-black:
  stage: lint
  script:
    - uv sync --frozen
    - uv run nbqa black --check demos/*.ipynb

nbqa-isort:
  stage: lint
  script:
    - uv sync --frozen
    - uv run nbqa isort --check-only demos/*.ipynb

pytest:
  stage: test
  script:
    - uv sync --frozen
    - uv run pytest -q tests
