repos:
  - repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi, jupyter]
        
  - repo: local    
    hooks:
      - id: isort
        name: isort (python)
        entry: isort -
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: normalize-notebooks
        name: normalize notebooks
        entry: scripts/fix_notebooks.py
        language: system
        types: [jupyter]
        pass_filenames: false
