name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: '3.11'

      - name: Show tool versions
        run: |
          python --version
          uv --version

      - name: Install dependencies
        run: uv sync --frozen  --group dev

      - name: Black
        run: uv run black --check .

      - name: isort
        run: uv run isort --check-only .

      - name: nbqa isort
        run: uv run nbqa isort --check-only demos/


  pylint:
    name: pylint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run:  uv sync --frozen  --group dev

      - name: Run pylint on main code
        run: uv run pylint src/

      - name: Run pylint on test code
        run: uv run pylint tests/

  pyright:
    name: pyright
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run:  uv sync --frozen  --group dev

      - name: Run pyright
        run: uv run pyright

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: uv sync --frozen  --group dev

      - name: Run tests
        run: uv run pytest -q tests
